<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
    body {
        background-image:url('static/background.gif');
        background-size:100%;
        background-repeat: repeat-y;
        background-attachment: fixed;
        height:100%;
        width:100%; }
        </style>


    <h1><b><i><u>Rock Paper Scissor game !</b></i></u></h1>
    <div id="date" class="container"></div>
    <div id="time" class="container"></div>

    <script>
        function show_date_time()
        {
            let datetime= new Date();
            let weekdays= ["Sunday", "Monday", "Tuesday", "Wednesday","Thrusday", "Friday", "Saturday"]
            months= ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
            let date= weekdays[datetime.getDay()] + " " + datetime.getDate() + " " + months[(datetime.getMonth() + 1)] + " , " + datetime.getFullYear()
            let time= ("0" + datetime.getHours()).slice(-2, ) + ":" + ("0" + datetime.getMinutes()).slice(-2, ) + ":" + ("0" + datetime.getSeconds()).slice(-2, )
            document.getElementById("date").innerHTML= "Date is : " + date;
            document.getElementById("date").style.color = "green";
            document.getElementById("date").style.fontSize = "25px";
            document.getElementById("time").innerHTML= "Time is : " + time;
            document.getElementById("time").style.color = "green";
            document.getElementById("time").style.fontSize = "25px";
        }
        show_date_time()
        setInterval(show_date_time, 1000);
    </script>

    <form action="game_choice" method="post">
    <div id="container" class="container">
        <audio hidden loop="true" autoplay="true" controls>
        <source src="static/default.mp3" type="audio/ogg">Your browser does not support the audio element.</audio>
        <table>
            <tr>
            <th colspan="3"><label for="selection" style="color:rgba(0, 0, 0, 0.801);font-size:25px;"><b>Select an option</b></label></th>
            </tr>
            <tr>
              <th><label for="rock" style="color:rgba(0, 0, 0, 0.801);font-size:20px;"><b>Rock</b></label></th>
              <th><label for="paper" style="color:rgba(0, 0, 0, 0.801);font-size:20px;"><b>Paper</b></label></th>
              <th><label for="scissor" style="color:rgba(0, 0, 0, 0.801);font-size:20px;"><b>Scissor</b></label></th>
            </tr>
            <tr>
              <td><input type="image" id="rock" name="rock" value="rock" src="static/rock.gif" alt="Rock" onclick=user_selection() style="width:260px;height:235px;"></td>
              <td><input type="image" id="paper" name="paper" src="static/paper.gif" alt="Paper" onclick=user_selection() style="width:260px;height:235px;"></td>
              <td><input type="image" id="scissor" name="scissor" src="static/scissor.gif" alt="Scissor" onclick=user_selection() style="width:260px;height:235px;"></td>
            </tr>
        </table>
        <!-- <br> -->
        <label for="User" style="color:rgba(253, 1, 77, 0.801);font-size:30px;">{{message_1}}</label><br>
        <label for="Computer" style="color:rgba(255, 0, 13, 0.986);font-size:30px;">{{message_2}}</label><br>
        <label for="Result" style="color:blue;font-size:30px;">{{message_3}}</label><br>
        <a href="http://127.0.0.1:8009/" target="_main"><img src="static/reset.jpg" height="75px" width="75px" alt="Reset"></a>
    </div>
    </form>
    <!-- <input type="button" value="PLAY" onclick="user_selection()">
    <audio id="audio" src="\static\click.wav"></audio> -->
    <script>
        function user_selection() {
          var audio = document.getElementById("audio");
          audio.play(); }
    </script>
</body>
</html>

